/* Footer Style */

footer {
    background-color: var(--bs-gray);
    ul {
        display: flex;
        font-size: 1rem;
        flex-wrap: wrap;
        list-style: none;
        justify-content: center;
        margin: 15px auto 0;
        padding: 0;
        li {
            margin-bottom: 15px;
            padding: 0 15px;
        }
        a.nav-link {
            color: var(--bs-brand);
            &:hover,
            &:active,
            &:focus {
                color: var(--bs-link);
            }
        }
    }
}

.to-top {
    background-color: var(--bs-gray-dark);
    border-radius: 50%;
    bottom: 15px;
    color: var(--bs-light);
    display: none;
    padding: 1rem;
    position: fixed;
    right: 10px;
    z-index: 9999;
    transition: .2s ease-in all;
    height: 1rem;
    width: 1rem;
    align-items: center;
    justify-content: center;
    &:focus,
    &:active,
    &:hover {
        background-color: var(--bs-dark);
        color: var(--bs-light);
        text-decoration: none;
    }
}

@media ( min-width: 768px) {
    footer ul li {
        margin-bottom: 0;
    }
    footer .nav {
        flex-wrap: nowrap;
        li {
            padding: 0px;
        }
    }
}