.single {
    h1 {
        font-size: 2.5rem;
        line-height: 1.5;
        margin-bottom: 35px;
        margin-top: 35px;
    }
    h2,
    h3 {
        margin-bottom: 35px;
    }
    p {
        margin-bottom: 35px;
    }
    img,
    figure {
        margin-bottom: 35px;
        img {
            margin-bottom: 15px;
        }
    }
    p.article-subhead {
        color: var(--bs-gray-dark);
        font-style: italic;
        font-size: 1.115rem;
        font-weight: 300;
    }
    code {
        background-color: var(--bs-gray);
        border-radius: 5px;
        font-family: var(--bs-font-monospace);
        padding: 5px 7px;
    }
    pre {
        background-color: var(--bs-gray);
        padding: 35px;
    }
    textarea {
        max-width: 100%;
    }
    h2,
    h3,
    h4,
    p,
    ul,
    ol,
    form {
        max-width: 640px;
        margin-left: auto;
        margin-right: auto;
    }
    figure,
    img {
        max-width: 100%;
        height: auto;
    }
    figcaption {
        color: var(--bs-gray-dark);
        font-family: var(--bs-font-monospace);
        font-size: .8rem;
        font-style: normal;
    }
    a.custom-logo-link img {
        margin-bottom: 0;
    }
    p.site-description {
        margin-bottom: 0;
    }
    .post-thumbnail img {
        max-width: 100%;
        width: 100%;
    }
}

@media (min-width: 568px) {
    .single .image-wrapper {
        max-height: 400px;
        img {
            max-height: 400px;
        }
    }
    .single h1 {
        margin-left: auto;
        margin-right: auto;
        max-width: 640px;
    }
}